@use "../mixin" as *;

// 테이블 기본 타이틀
.board-top {display: flex;justify-content: space-between;flex-wrap: wrap;
  div[class*=t-box] {display: flex;align-items: center;
    .compulsory-txt{margin: 10px 6px 0 0;}
  }

  .tit {padding-right: 12px;
    strong {color: #1D56BC;margin: 0 3px;}
  }

  .choice {margin: 0 5px 0 11px;}

  .top-txt {position: relative;padding-left: 12px;
    &.tit{padding-left: 0;}
    select{padding-left:0;}
    &:before {content: "";display: block;position: absolute;top: 5px;left: 0;width: 1px;height: 16px;background-color: #E4E4E4;}
  }

  .tit:before {display: none;}

  &.no-wrap{flex-direction: row;
    .right-box{margin-top: 0;
      &:has(button){gap:8px}
    }
  }
}

// 테이블 배송주소 타이틀 
.add-title,.tb-tit{line-height: 150%;font-size: 21px;display: flex;align-items: center;flex-wrap: wrap;
  .txt{margin-left: 6px;display: flex;flex-wrap: wrap;}
  .num-area{display: flex;align-items: center;line-height: 1;}
  .number{display: inline-block;color: #1D56BC;font-style: normal;margin-left: 6px;}
  .max-num{margin: 8px 0 8px 6px;}
}

// 테이블 
.table-wrap {position: relative;min-width: 100%;width: 100%;word-break: break-all;overflow-x: auto;overflow-y: hidden;

  //타입1
  &.type1{
    tr:hover td{background-color: #EFF5FF;position: relative;
      &:first-child:before{content:"";display: block;position: absolute;top:0;left:0;width:4px;height: 53.9px;background-color: #246BEB;}
    }
  }


  table {table-layout: fixed;width: 100%;border-spacing: 0;}

  th {font-size: 15px;border-bottom: 1px solid #58616A;vertical-align: middle;background-color: #E6E8EA;position: relative;text-align: center;line-height: 150%;padding: 13px 16px;font-weight: 700;
    *:not(.tooltip-tit *) {font-weight: 700;font-size: 15px;}
    .tooltip-tit{display: flex;justify-content: center;      
      .title{padding-right: 20px;position: relative;}
      .contextual-help{bottom:2px;transform: translateY(0);margin: 0 0;margin-left: 3px;height:auto;
        .tooltip-ico{background-image: url(../assets/icons/tb-exclamation.svg);}
        .tooltip-popover{text-align: left;}
      }
    }
    .title > span {font-size: 15px;font-weight: 700;}
    .resize-point {position: absolute;right: -5px;top: 0;width: 10px;height: 100%;cursor: col-resize;pointer-events: all;
        &::after {content: "";position: absolute;width: 1px;height: 40%;background-color: #b7b7b7;z-index: 1;top: 50%;transform: translateY(-50%);}
    }        
  }

  td {border-bottom: 1px solid #E4E4E4;vertical-align: middle;text-align: center;line-height: 150%;padding: 14px 16px;}   

  .th-turn {width: 20px;height: 20px;position: absolute;top: 50%;right: 0;background-image: url(../assets/icons/tb-turn.svg);background-position: center;background-color: rgba(0, 0, 0, 0);transition: all 0.3s;transform: translateY(-50%);padding: 0;overflow:hidden;
    &.active {transform: rotate(180deg);transform-origin: 50% 30%;}
  }

  .arr-ico {position: relative;padding-right: 25px;display: inline-block;}

  a.txt {display: block;width: 100%;height: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

  .file-down {width: 24px;height: 24px;font-size: 0;background-image: url("../assets/icons/file.svg");background-position: center;background-color: #fff;}  

  // 단순형 선 
  table.cont {    
    tr {
      &.line1 th {background-color: #CDD1D5;border-bottom: 0;border-top: 1px solid #58616A;        
        &:first-child {border-left: 1px solid #CDD1D5;}
        &:last-child {border-right: 1px solid #CDD1D5;}
      }
      th {border: 1px solid #B1B8BE;border-top: none;border-left: none;}
    }
    td {border: 1px solid #E4E4E4;border-top: none;border-right:none;}


    &.type1{
      &::after{display: none;}
      tr{                                
        th{border-right:0;}
        td{border-right:0;text-align: center;border-left:0;}
        &.last-tr td,td.number{border-bottom:1px solid #C6C6C6;}
      }
    }
  }

  // 체크박스,라디오박스
  &.mo{
    .header{
      .form-check{
        label{padding-left: 28px;}
      }      
    }
  }
  .form-check{width:20px;height:15px;display: inline-block;
    input[type=checkbox] + label, 
    input[type=radio] + label {padding: 0;}
    /*&:before {position: relative;top: 0;left: 0;transform: translateY(0);background-color: #fff;}*/
  }  
}

// 단순형 테이블
.wrap-cont-tbl{position: relative;    
  
  .table-wrap{
    table{position: relative;margin-top: 15px;          
      &::after{content:"";display: block;position: absolute;top:0;right:0;background-color: #E4E4E4;width: 1px;height:100%;z-index: 1;}
      &::before{content:"";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #24282B;z-index: 1;}
    }      

    span{font-size:13px !important;display: block;color:#060606 !important;margin-top: 5px;}
  }

  td{text-align: right;}

  tbody th{text-align: left !important;}

  .table-wrap.mo{
    .modal-tit{display: block;margin-top: 48px;
      &:first-child{margin-top: 26px;}       
    }    
  }  

  .acc-tit span,
  .accordion-btn span{color:#555 !important}
} 


.wrap-crud-tbl .mo .wrap-body {
  button:not(.tooltip-ico):not(.tooltip-close){width:100%;} 
}

// FAQ
.wrap-faq{  
  .btn-arrow-down{position: absolute;height:100%;top:0;right:30px;transition: all .3s;z-index: 1;}
  .accordion-wrap.active .btn-arrow-down{transform: rotate(180deg);}     
  &.type1 .accordion-wrap.on .accordion-btn{font-weight: 700;}       

  // th
  .header{display: flex;background-color: #E6E8EA;border-bottom:1px solid #58616A;
    li{padding: 14px 16px;font-size: 15px;text-align: center;line-height: 150%;font-weight: 700;}
  }

  // td
  .body{    
    // 아코디언 제목
    .accordion-header{border-bottom:1px solid #E4E4E4;
      ul{display: flex;text-align: center;}
      li{position: relative;
        .txt{padding: 22px 16px;display: block;
          .form-check label{padding: 10px;}
        }
        .txt:not(.accordion-btn){height:100%;display: flex;align-items: center;justify-content: center;}
        a.txt{padding-right: 50px;text-align: left;}
        &.number .txt{color:#003675;letter-spacing: 4px;font-size: 15px;}                
      }
    } 

    // 아코디언 내용
    .accordion-body{padding: 32px 24px 32px 104px;background-color: #F4F5F6;border-bottom:1px solid #E4E4E4;position: relative;
      .faq-box{padding-bottom: 32px;margin-bottom: 32px;position: relative;
        &::before{content:"";display: block;width: 100%;height: 2px;background-image:url(../assets/icons/dotted.svg);position: absolute;bottom: 0;left: 0;}
        &.nofile {margin-bottom: 0;}
        &.nofile::before {display: none;}
      }
      .number{position: absolute;top:42px;left:29px;font-size: 15px;color:#246BEB;letter-spacing: 4px;}
      .title{font-size: 19px;line-height: 150%;}
      .txt{line-height: 150%;margin-top: 21px;}
      .title-type3{margin-top: 0;font-size:15px;line-height: 1;}
      .upload-list{gap:8px;
        li{background-color: #fff;}
      } 
    }
  }   
  
  &.type1{   
    .accordion-wrap.on .accordion-btn{font-weight: 700;}     
    .accordion-body{padding: 0 50px 16px 16px;background-color: #fff;
      p{text-align: left;line-height: 150%;}
    }
  }
}

