<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="logout">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">            
            <h3 class="head-tit">로그인후</h3>            

            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><span class="txt">홈</span></li>
                     <li><span class="txt">커뮤니티관리</span></li>                                    
                     <li class="last-li"><span class="txt">공지사항 관리</span></li>                  
                  </ol>
               </nav>                  
            </div>
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               111
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->      
   </div>
</body>
</html>