<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login main">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->                     
      <div class="content-wrap">
         <div class="cont-body">
            <div class="wrap-manager-login">
               <div class="manager-login">
                  <strong class="title">전자상거래포털 관리자 로그인</strong>                  
                  <p class="check-box"><i class="icon info-fill medium"></i>아이디 혹은 비밀번호를 확인하십시오.</p>
                  <div class="inp-box">
                     <div class="area">
                        <label for="id">아이디</label>
                        <div class="form-group large">                     
                           <div class="form-conts id">
                              <input type="text" class="input" placeholder="아이디를 입력해 주세요" id="id">
                           </div>                        
                        </div>
                     </div>
                     <div class="area">
                        <label for="pass">비밀번호</label>
                        <div class="form-group large">                     
                           <div class="form-conts pass">
                              <input type="text" class="input" placeholder="비밀번호 입력" data-ui="hidden-input" id="pass">
                           </div>                        
                        </div>
                     </div>    
                     <div class="form-check">
                        <input type="checkbox" id="chk_2" checked="">
                        <label for="chk_2">아이디 저장</label>
                     </div>
                     <div class="btn-area">
                        <button type="button" class="btn primary large login">로그인</button>
                     </div>
                  </div>
               </div>
               <p class="txt">이 페이지는 관리자 전용페이지입니다.<strong>관리자</strong>만 로그인이 가능합니다.</p>               
            </div>            
         </div>
      </div>
      <!-- //content-wrap -->      
   </div>
</body>
</html>