<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="logout">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">            
            <h3 class="head-tit">공지사항 등록</h3>            
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><span class="txt">홈</span></li>
                     <li><span class="txt">커뮤니티관리</span></li>                                    
                     <li class="last-li"><span class="txt">공지사항 관리</span></li>                  
                  </ol>
               </nav>                  
            </div>
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>게시번호</strong>
                           </strong>   
                           <div class="inp-box">
                              <p class="txt">202506131988</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>조회수</strong>
                           </strong>   
                           <div class="inp-box">
                              <p class="txt">245</p>
                           </div>                                                                     
                        </li>   
                        <li class="col1 txt-list">
                           <label class="tit" for="ex1">
                              <strong>제목 <i class="compulsory">필수</i></strong>
                           </label>   
                           <div class="inp-box">
                              <div class="form-group medium">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex1" value="수입통관 주요.반복 오류사례 안내집">
                                 </div>                                 
                              </div>
                           </div>                                                                     
                        </li>   
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>공지기간</strong>
                           </strong>   
                           <div class="inp-box">
                              <div class="calendar">
                                 <div class="calendar-form" data-ui="datepicker" data-props="maxInput: '#endDate'">
                                    <input id="startDate" type="text" title="시작날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10" value="2025-03-01">
                                    <button class="calendar-btn">시작 달력보기</button>
                                 </div>
                                 <div class="form-group medium mw-50">                  
                                    <div class="form-conts">
                                       <input type="text" class="input" value="18">
                                    </div>                                    
                                 </div>
                                 <p>시</p>
                                 <div class="form-group medium mw-50">                  
                                    <div class="form-conts">
                                       <input type="text" class="input" value="00">
                                    </div>                                    
                                 </div>
                                 <p>분</p>
                                 <i class="hy">~</i>
                                 <div class="calendar-form" data-ui="datepicker" data-props="minInput: '#startDate'">
                                    <input id="endDate" type="text" title="종료날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10" value="2025-03-01">
                                    <button class="calendar-btn">종료 달력보기</button>
                                 </div>
                                 <div class="form-group medium mw-50">                  
                                    <div class="form-conts">
                                       <input type="text" class="input" value="18">
                                    </div>                                    
                                 </div>
                                 <p>시</p>
                                 <div class="form-group medium mw-50">                  
                                    <div class="form-conts">
                                       <input type="text" class="input" value="00">
                                    </div>                                    
                                 </div>
                                 <p>분</p>
                              </div>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <label class="tit" for="ex2">
                              <strong>업무구분 <i class="compulsory">필수</i></strong>
                           </label>   
                           <div class="inp-box">
                              <div class="form-group medium mw-240">                  
                                 <div class="form-conts">
                                    <select class="form-select" required="" id="ex2">
                                       <option value="" disabled="" hidden="">조건을 선택해주세요</option>
                                       <option value="수입통관" selected="">수입통관</option>                                          
                                    </select>
                                 </div>                                    
                              </div>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>게시활성화여부</strong>
                           </strong>   
                           <div class="inp-box">
                              <div class="check-list-box">
                                 <div class="form-check medium">
                                    <input type="radio" name="radio1" id="chk1" checked="">
                                    <label for="chk1">활성화</label>
                                 </div>
                                 <div class="form-check medium">
                                    <input type="radio" name="radio1" id="chk2">
                                    <label for="chk2">비활성화</label>
                                 </div>
                              </div>                              
                           </div>                                                                     
                        </li>   
                        <li class="col2 txt-list">
                           <label class="tit" for="ex3">
                              <strong>자료실구분 <i class="compulsory">필수</i></strong>
                           </label>   
                           <div class="inp-box">
                              <div class="form-group medium mw-240">                  
                                 <div class="form-conts">
                                    <select class="form-select" required="" id="ex3">
                                       <option value="" disabled="" hidden="">조건을 선택해주세요</option>
                                       <option value="일반자료실" selected="">일반자료실</option>                                          
                                    </select>
                                 </div>                                    
                              </div>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>필수여부</strong>
                           </strong>   
                           <div class="inp-box">
                              <div class="check-list-box">
                                 <div class="form-check medium">
                                    <input type="radio" name="radio2" id="chk3" checked="">
                                    <label for="chk3">필수</label>
                                 </div>
                                 <div class="form-check medium">
                                    <input type="radio" name="radio2" id="chk4">
                                    <label for="chk4">비활성화</label>
                                 </div>
                              </div>                              
                           </div>                                                                     
                        </li>
                        <li class="col1 txt-list">
                           <label class="tit" for="ex4">
                              <strong>내용 <i class="compulsory">필수</i></strong>
                           </label>   
                           <div class="inp-box">
                              <div class="form-group">                                 
                                 <div class="form-conts">
                                    <div class="textarea-wrap">
                                       <textarea class="input" id="ex4"></textarea>                                       
                                    </div>
                                 </div>
                              </div>
                           </div>                                                                     
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>첨부파일</strong>
                           </strong>   
                           <div class="inp-box">                              
                              <div class="file-upload">
                                 <div class="txt-box"><p class="txt">첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.</p></div>
                                 <div class="file-upload-btn-wrap">
                                    <input type="file" id="fileu-upload1" hidden="">
                                    <label for="fileu-upload1" class="btn tertiary medium">
                                       파일선택
                                    </label>                                    
                                 </div>
                              </div>
                              <div class="file-upload ">
                                 <div class="txt-box"><p class="txt">첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.</p></div>
                                 <div class="file-upload-btn-wrap">
                                    <input type="file" id="fileu-upload2" hidden="">
                                    <label for="fileu-upload2" class="btn tertiary medium">
                                       파일선택
                                    </label>
                                    <button class="btn text medium"><i class="icon close medium"></i>삭제</button>
                                 </div>
                              </div>
                              <div class="btn-area mt-16">
                                 <div class="align">
                                    <button type="button" class="btn secondary medium">첨부파일 추가</button>
                                 </div>
                              </div>
                           </div>                                                                     
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>기존파일</strong>
                           </strong>   
                           <div class="inp-box">
                              <ul class="inp-list">
                                 <li><a href="#none">6차 할당, 조정관세(나프타 제조용 원유 등, 7.6일 시행).xlsx</a><button class="btn text medium"><i class="icon close medium"></i>삭제</button></li>
                                 <li><a href="#none">6차 할당, 조정관세(나프타 제조용 원유 등, 7.6일 시행).xlsx</a><button class="btn text medium"><i class="icon close medium"></i>삭제</button></li>
                              </ul>
                           </div>
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>내용</strong>
                           </strong>   
                           <div class="inp-box">
                              <p class="txt cont-txt">ECP관리자<br>ECP관리자<br>ECP관리자<br>ECP관리자<br></p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>등록자</strong>
                           </strong>   
                           <div class="inp-box">
                              <p class="txt">ECP관리자<br>ECP관리자<br>ECP관리자<br>ECP관리자<br></p>
                           </div>                                                                     
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>등록일시</strong>
                           </strong>   
                           <div class="inp-box">
                              <p class="txt">2025-06-18 12:45</p>
                           </div>                                                                     
                        </li>   
                        
                     </ul>                  
                  </div>
               </div>
               <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>
               <div class="btn-area btn-end">
                  <div class="align">
                     <button type="button" class="btn tertiary large">목록</button>
                     <button type="button" class="btn primary large">저장</button>
                  </div>
               </div>               
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->      
   </div>
</body>
</html>