<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="logout">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">            
            <h3 class="head-tit">로그인전</h3>            
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><span class="txt">홈</span></li>
                     <li><span class="txt">커뮤니티관리</span></li>                                    
                     <li class="last-li"><span class="txt">공지사항 관리</span></li>                  
                  </ol>
               </nav>                  
            </div>
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 주소 입력 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">도움말 선택</button>
                  <div id="modal1" class="modal d-none" data-ui="modal">
                     <div class="modal-wrap mw-760">
                        <div class="modal-header">
                           <h5>도움말 선택</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <div class="search-box"> 
                                 <ul>                     
                                    <li class="col2">
                                       <label class="tit" for="ex1">검색조건1</label>
                                       <div class="search-area">
                                          <div class="form-group medium">                     
                                             <div class="form-conts">
                                                <input type="text" class="input" id="ex1">
                                             </div>                              
                                          </div> 
                                       </div>                        
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="ex2">검색조건2</label>
                                       <div class="search-area">
                                          <div class="form-group medium">                     
                                             <div class="form-conts">
                                                <input type="text" class="input" id="ex2">
                                             </div>                              
                                          </div>
                                       </div>                        
                                    </li>
                                 </ul>
                                 <div class="btn-area btn-end">
                                    <div class="align">                                       
                                       <button type="button" class="btn secondary medium">조회</button>                        
                                    </div>
                                 </div>
                              </div>
                              <div class="board-top tbl-top">
                                 <div class="left-box">
                                    <strong class="tit top-txt">전체<strong>240</strong>개</strong>
                                    <div class="top-txt">
                                       <select class="form-select-sort large" title="정보 구분 선택">                           
                                          <option value="">10개씩 보기</option>               
                                          <option value="">10개씩 보기</option>               
                                          <option value="">10개씩 보기</option>               
                                          <option value="">10개씩 보기</option>               
                                       </select>
                                    </div>                     
                                 </div>                                                   
                              </div>
                              <div class="wrap-check-tbl">
                                 <div class="table-wrap">
                                    <table class="tbl col check">
                                       <caption>도움말 선택</caption>
                                       <colgroup>
                                          <col style="width:180px;">                                                                                                            
                                          <col style="width:516px;">                                                                                                                                                      
                                       </colgroup>
                                       <thead>
                                          <tr>                                                
                                             <th scope="col">도움말ID</th>
                                             <th scope="col">도움말제목</th>                                             
                                          </tr>
                                       </thead>
                                       <tbody>                           
                                          <tr>
                                             <td>MYC_HLC_00001</td>                                             
                                             <td class="tb-title text-left">개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다</td>                                             
                                          </tr>  
                                          <tr>
                                             <td>MYC_HLC_00001</td>                                             
                                             <td class="tb-title text-left">개인통관고유부호</td>                                             
                                          </tr>  
                                          <!-- 데이터없음 -->  
                                          <tr>
                                             <td colspan="2">데이터 없음</td>
                                          </tr>                
                                          <!-- 데이터없음 -->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                                       </tbody>
                                    </table>
                                 </div>                  
                              </div>
                              <div class="paging">
                                 <ul>
                                    <li class="morePrev on"><a href="#1"><span>첫페이지</span></a></li>
                                    <li class="prev"><a href="#10"><span>이전</span></a></li>
                                 </ul>
                                 <ul class="pages">
                                    <li class="selected"><strong>1</strong></li>   
                                    <li><a href="#2">2</a></li>
                                    <li><a href="#3">3</a></li>
                                    <li><a href="#4">4</a></li>
                                    <li><a href="#5">5</a></li>
                                    <li><a href="#6">6</a></li>
                                    <li><a href="#7">7</a></li>
                                    <li><a href="#8">8</a></li>
                                    <li><a href="#9">9</a></li>
                                    <li><a href="#10">10</a></li>
                                 </ul>
                                 <ul>
                                    <li class="next"><a href="#11"><span>다음</span></a></li>
                                    <li class="moreNext"><a href="#11"><span>마지막페이지</span></a></li>
                                 </ul>
                              </div>
                           </div>                           
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn modal-close tertiary medium">닫기</button>                              
                        </div>
                     </div>
                  </div>                  
                  <!-- // 주소 입력 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->      
   </div>
</body>
</html>