<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="logout">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 조회</h3>            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 주소 입력 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">도움말 선택</button>
                  <div id="modal1" class="modal d-none" data-ui="modal">
                     <div class="modal-wrap mw-760">
                        <div class="modal-header">
                           <h5>도움말 선택</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <div class="search-box"> 
                                 <ul>                     
                                    <li class="col2">
                                       <label class="tit" for="ex1">검색조건1</label>
                                       <div class="search-area">
                                          <div class="form-group medium mw-216">                     
                                             <div class="form-conts">
                                                <input type="text" class="input" id="ex1">
                                             </div>                              
                                          </div> 
                                       </div>                        
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="ex2">검색조건2</label>
                                       <div class="search-area">
                                          <div class="form-group medium mw-216">                     
                                             <div class="form-conts">
                                                <input type="text" class="input" id="ex2">
                                             </div>                              
                                          </div>
                                       </div>                        
                                    </li>
                                 </ul>
                                 <div class="btn-area btn-end">
                                    <div class="align">                                       
                                       <button type="button" class="btn secondary medium">조회</button>                        
                                    </div>
                                 </div>
                              </div>
                              <div class="board-top tbl-top">
                                 <div class="left-box">
                                    <strong class="tit top-txt">전체<strong>240</strong>개</strong>                                    
                                 </div>                  
                              </div>
                              <div class="wrap-check-tbl">
                                 <div class="table-wrap">
                                    <table class="tbl col check">
                                       <caption>도움말 선택</caption>
                                       <colgroup>
                                          <col style="width:180px;">                                                                                                            
                                          <col style="width:516px;">                                                                                                                                                      
                                       </colgroup>
                                       <thead>
                                          <tr>                                                
                                             <th scope="col">도움말ID</th>
                                             <th scope="col">도움말제목</th>                                             
                                          </tr>
                                       </thead>
                                       <tbody>                           
                                          <tr>
                                             <td>MYC_HLC_00001</td>                                             
                                             <td class="tb-title text-left"><a href="#none">개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다개인통관고유부호 갱신이 필요합니다</a></td>                                             
                                          </tr>  
                                          <tr>
                                             <td>MYC_HLC_00001</td>                                             
                                             <td class="tb-title text-left"><a href="#none">개인통관고유부호</a></td>                                             
                                          </tr>  
                                          <!-- 데이터없음 -->  
                                          <tr>
                                             <td colspan="2">데이터 없음</td>
                                          </tr>                
                                          <!-- 데이터없음 -->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                                       </tbody>
                                    </table>
                                 </div>                  
                              </div>
                              <div class="pagination pagination-type1">               
                                 <button class="page-navi prev" disabled="">이전</button>
                                 <div class="page-links">
                                    <a class="page-link active" href="#">1</a>                                    
                                    <a class="page-link" href="#">2</a>
                                    <a class="page-link" href="#">3</a>
                                    <a class="page-link" href="#">4</a>
                                    <a class="page-link" href="#">5</a>                                    
                                    <span class="page-link link-dot"></span>
                                    <a class="page-link mobile-link" href="#">120</a>
                                 </div>
                                 <button class="page-navi next">다음</button>
                              </div>
                           </div>                           
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn modal-close tertiary medium">닫기</button>                              
                        </div>
                     </div>
                  </div>                  
                  <!-- // 주소 입력 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->



               
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>