/** 컨텐츠 여백 **/
.cont-body{
  .search-box + .board-top.tbl-top{margin-top: 34px;}
  .board-top.tbl-top + .wrap-check-tbl{margin-top: 16px;}
  .paging{margin-top: 25px;}
  .btn-area:has(.large){margin-top: 30px;}
  .wrap-form-area + .compulsory-txt,
  form + .compulsory-txt{margin-top: 18px;}
  .title-type3{margin-top: 30px;margin-bottom: 15px;}
  .board-top.tbl-top + .layout-area{margin-top: 24px;}
  .search-box + .layout-area{margin-top: 25px;}
  .layout-area .box1 {
    .board-top.tbl-top + .wrap-check-tbl{margin-top: 33px;}
  }
}

.modal-cont{
  .search-box + .board-top.tbl-top{margin-top: 30px;}
  .board-top.tbl-top + .wrap-check-tbl{margin-top: 10px;}
  .paging{margin-top: 24px;}
}

.content-wrap {width: 100%;position: relative;flex: 1;height: 100%;padding: 76px 20px 20px 236px;
  &::before{content:"";display: block;position: absolute;top:0;left:0;width:215px;height: 100%;background-color: #1E2124;}
  .cont-head {display: flex;align-items: center;justify-content: space-between;margin-bottom: 15px;
    .head-util {display: flex;justify-content: space-between;align-items: center;
      .breadcrumb-wrap {padding-left: 10px;}
      .language-area {width: auto;display: flex;justify-content: flex-end;}
    }
    .head-tit {font-size: 25px;line-height: 150%;display: flex;flex-direction: column;
      .txt{font-size: 19px;color: #555;line-height: 150%;margin-top: 19px;}
    }    
    .step-area {display: flex;justify-content: space-between;margin-bottom: 62px;
      .tit-box {display: flex;flex-direction: column;
        .tit-step {
          i{margin: 0 7px 0 4px;}
          span {color: #1D56BC;font-weight: 700;}
        }
        .tit {font-size: 25px;margin-top: 20px;padding-right: 20px;}
      }
      .step-tit {margin-top: 12px;}
    }
  } 

  //페이지 도움말
  .cont-body .cont-advice{position: relative;background-color: #EDF1F5;border-radius: 8px;    
    &.active{border-radius: 8px 8px 0 0;
      i{transform: rotate(180deg);}
    }
    .accordion-btn {display: flex;width: 100%;height: 100%;padding: 24px;justify-content: space-between;align-items: center;
      strong{font-size: 19px;color: #003675;line-height: 150%;padding-right: 30px;}
      i{min-width: 16px;height: 16px;width:16px}
    }     
    .accordion-body{position: absolute;top:100%;left:0;width:100%;padding: 24px;border-radius: 0px 0px 8px 8px;background-color: #EDF1F5;z-index: 1;
      &::before{top:0;content:"";display:block;position:absolute;left:0;width:100%;height:2px;background-image:url(../assets/icons/dotted.svg)}
      p{color:#003675;line-height: 150%;}
    }
  }
}
