@use "../mixin" as *;
@use "../variable" as *;

button {border: 0;}
.gnb-toggle-wrap {display: none;}
#skip-link {  position: absolute;top: 0;right: 0;left: 0;margin: 0 auto;z-index: 99999;       
  a {position: absolute;top: -50px;width: 100%;font-size: 0;    
    &:active, &:focus {display: flex;align-items: center;justify-content: center;top: 0;height: 34px;padding: 6px 0;text-align: center;color: #fff;font-size: 17px;background: #272d34;}
  }
}

#masthead {position: relative;background-color: #4f6280;z-index: 8;padding: 0 16px;
  .toggle-wrap {width: 1280px;height: 32px;display: flex;align-items: center;margin: 0 auto;}
  .nuri-txt {color: #FFF;position: relative;padding-left: 29px;background-image: url("../assets/icons/medium.svg");background-repeat: no-repeat;background-size:contain;}
}

#header {position: absolute;top: 0;z-index: 9;width: 100%;background-color: #fff;transition: transform 0.6s $easeOutExpo;  
  .header-container {border-bottom: 1px solid #d8d8d8;padding: 0 20px;
    .inner {width: 100%;margin: 0 auto;height: 55px;display: flex;align-items: center;}
  }
  .header-branding {width: 100%;display: flex;justify-content: space-between;align-items: center;}
  .logo {min-width: 224px;width:224px;height: 35px;
    .logo-img {background-image: url("../assets/icons/logo.svg");display: flex;width: 100%;height: 100%;background-size: contain;background-repeat: no-repeat;}
  }
  .header-actions {display: flex;align-items: center;height: 28px;       
    &.mobile-top-area{display: none;}
    .name-box {display: flex;gap: 36px;margin-right: 15px;margin-left: 12px;line-height: 1;height: 100%;align-items: center;
      .name {line-height: 20px;}
      .inform, .time {height: 20px;display: flex;align-items: center;padding: 0 7px;border-radius: 30px;position: relative;line-height: 150%;}
      .inform:before, .time:before {content: "";display: block;
        position: absolute;top: 0;left: -24px;width: 20px;height: 20px;background-repeat: no-repeat;background-position: center;}
      .inform {background-color: #246beb;color: #fff;}
      .time {background-color: #cdd1d5;}
    }    
    .btn-navi {background-color: rgba(0, 0, 0, 0);display: flex;justify-content: center;align-items: center;position: relative;margin-left: 28px;border: 0;font-weight: 700;padding: 0 0 0 35px;height: 100%;
      &:before {content: "";display: block;position: absolute;top: 50%;left: 8px;min-width: 20px;height: 20px;transform: translateY(-50%);background-repeat: no-repeat;background-position: center;}
      &.popup.active, &:hover {background-color: #cdd7e4;border-radius: 4px;}
      &.mobile-all-menu{display: none;}
    }

    .login-txt,.logout-txt,.btn-navi.loginout{display: none;}  
  }  
}

/** 로그인전 **/
#wrap.login #header .header-container {
  .login-txt{display: block;}
}   

/** 로그인후 **/
#wrap.logout #header .header-container{
  .logout-txt{display: block;}
  .btn-navi.loginout{display: flex;}
}  

.header-actions .btn-navi:focus {background-color: #cdd7e4;border-radius: 4px;}

#header .header-actions {
  .sch:before {background-image: url("../assets/icons/search.svg");}
  .join:before {background-image: url("../assets/icons/join.svg");}
  .login:before {background-image: url("../assets/icons/login.svg");}
  .loginout:before {background-image: url("../assets/icons/logout.svg");}
  .popup:before {background-image: url("../assets/icons/vector.svg");}
  .inform:before {background-image: url("../assets/icons/inform.svg");}
  .time:before {background-image: url("../assets/icons/time.svg");}
  .mobile-all-menu:before {background-image: url("../assets/icons/menu.svg");}  
}