@use "../mixin" as *;
@use "../variable" as *;


#header .main-menu {border-bottom: 1px solid #d8d8d8;padding: 0 16px;transform: translate(0px, 0px);
  .inner {width: 1280px;margin: 0 auto;display: flex;justify-content: space-between;height: 64px;}
  .gnb-menu {display: flex;align-items: center;gap: 25px;
    > li {height: 100%;display: flex;align-items: center;}
  }
  .gnb-main-trigger {background-color: rgba(0, 0, 0, 0);font-size: 19px;padding: 0 8px;position: relative;color: #555;line-height: 1.5;height: 100%;font-weight: 700;          
    &:before {content: "";display: block;position: absolute;bottom: 0px;left: 50%;width: 0;height: 4px;background-color: #16408d;transition: all 0.6s $easeOutExpo;}
    &:hover::before{width:100%;left: 0;}
    span {display: flex;font-size: 13px;color: #555;margin-top: -1px;}
  }
  .allmenu {background-color: rgba(0, 0, 0, 0);font-size: 0;background-image: url("../assets/icons/menu.svg");min-width: 36px;background-repeat: no-repeat;background-position: center;}
  .gnb-toggle-wrap {display: none;position: absolute;top: 64px;left: 0;width: 100%;background-color: #fff;z-index: 100;    border-top: 1px solid #d8d8d8;}
  .gnb-main-list {max-width: 1280px;margin: 0 auto;display: flex;
    .gnb-title {background-color: #f4f5f6;position: relative;min-width: 281px;
      &:before {content: "";display: block;position: absolute;top: 0;left: -1000px;width: 1000px;height: 100%;background-color: #f4f5f6;}
    }
  }
  .gnb-title-box {position: absolute;top: 40px;}
  .gnb-main-list {
    .gnb-title {
      .left-title {font-size: 25px;color: #060606;display: inline-block;}
      span {display: block;font-size: 15px;margin-top: 18px;color: #060606;line-height: 1.5;}
      p {margin-top: 29px;font-size: 15px;color: #555;line-height: 1.5;position: relative;padding: 0 68px 0 23px;
        &:before {content: "";display: block;position: absolute;top: 4px;left: 0;width: 16px;height: 16px;background-image: url("../assets/icons/live-area.svg");}
      }
    }
    .gnb-list {display: flex;flex-wrap: wrap;width: 100%;
      > li {width: 100%;padding-bottom: 40px;
        &.w-auto{width:48%}
        .depth2 li {margin-top: 4px;width:223px}
        &.last-menu {margin-top: -102px;}
        &.right-menu {margin-left: calc(33.333% - -24px);}
      }
      .sub-title {display: block;font-size: 25px;padding: 27px 0 24px 0;margin-bottom: 6px;border-bottom: 1px solid #c6c6c6;line-height: 150%;
        span {display: block;font-size: 13px;color: #555;margin-top: 0;line-height: 150%;}
      }
      a.sub-title{display: none;}
      .depth2 {margin-top: 10px;display: flex;
        a {display: block;padding: 5px 8px 5px 20px;
          &:hover, &:focus {background-color: #EDF1F5;border-radius: 4px;}
          i {font-style: normal;position: relative;display: inline-block;line-height: 150%;
            &:before {content: "";display: block;position: absolute;top: 12px;left: -13px;width: 4px;height: 4px;border-radius: 50%;background-color: #2d2d2d;transform: translateY(-50%);}            
          }
        }
        span {font-size: 13px;color: #555;display: block;font-style: normal;line-height: 150%;}
      }
    }
  }
  .gnb-menu {
    > li.active {
      .gnb-main-trigger {
        &:before {left: 0;width: 100%;}        
      }
      .gnb-toggle-wrap {display: block;}
    }

    &.gnb-allmenu {max-width: 1280px;width: auto;margin: 0 auto;display: flex;flex-direction: column;align-items: flex-start;
      .gnb-main-list .gnb-title h2 {font-size: 32px;}
      .gnb-toggle-wrap {display: block;position: relative;top: 0;padding: 64px 0 55px 0;border-bottom: 1px solid #e4e4e4;}
      .gnb-main-list {display: flex;flex-direction: column;
        .gnb-title {background-color: rgba(0, 0, 0, 0);
          &:before {display: none;}
        }
      }
      .gnb-title-box {position: relative;top: 0;}
      .gnb-main-list {
        .gnb-title span {margin-top: 4px;}
        .gnb-list {padding: 0;margin-top: 23px;margin-left: 0;
          > li {width: 100%;margin-left: 24px;
            &:first-child {margin-left: 0;}
            &.last-menu {margin-top: 25px;}
          }
        }
      }
      > li {width: 100%;}
      .last-allmenu {
        .gnb-toggle-wrap {width: 33.3333%;border-bottom: 0;}
        .gnb-main-list .gnb-list {width: 100%;
          > li {width: 100%;}
        }
      }
      > li.last-allmenu {display: flex;align-items: flex-start;}
      .gnb-main-list .gnb-list .depth2 {
        a i {padding-right: 45px;}
        span {padding-right: 10px;}
        a i:after {right: 19px;}
      }
    }
  }
  &.main-allmenu {display: none;border-bottom: 0;background-color: #fff;position: absolute;left: 0;width: 100%;overflow-y: scroll;height: calc(100vh - 178px);
    &.large {height: calc(100vh - 146px);}
    .gnb-toggle-wrap{border-top:0;}
    .gnb-main-list .gnb-title .left-title{font-size: 32px;}
  }
  .allmenu.active {background-image: url("../assets/icons/close.svg");}
  .info-area{display: none;}
  .mobile-close{display: none;}
}   
