<div id="skip-link">
   <a href="#breadcrumb">본문 바로가기</a>
</div>
<div id="masthead">
   <div class="toggle-wrap">
      <div class="toggle-head">
         <div class="inner">
            <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>            
         </div>
      </div>
   </div>
</div>
<header id="header">
   <div class="header-in">      
      <div class="header-container">
         <div class="inner">            
            <div class="header-branding">
               <h1 class="logo sample">
                  <a href="javascript: void(0);">
                     <span class="sr-only">대한민국정부</span>
                  </a>
               </h1>    
               <h2 class="sr-only">빈텍스트</h2>                          
               <div class="header-actions">
                  <div class="popup-box">                  
                     <button type="button" class="btn-navi popup">팝업</button>                                    
                     <div class="modal d-none">
                        <div class="modal-dialog">
                           <div class="modal-content">                        
                              <div class="modal-header">
                                 <strong class="modal-title">팝업</strong>
                              </div>                        
                              <div class="modal-conts">
                                 <div class="conts-area">
                                    <div class="menu-list">
                                       <ul>
                                          <li class="active"><a href="javascript: void(0);">관세청 전자상거래포털 신규 오픈</a></li>
                                          <li><a href="javascript: void(0);">개인통관고유부호 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">통관 진행 정보 확인 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                       </ul>
                                    </div>
                                    <div class="contents">
                                       <div class="box">
                                          콘텐츠 영역
                                       </div>  
                                       <div class="madal-btn-area">
                                          <div class="form-check">
                                             <input type="checkbox" id="popup-chk">
                                             <label for="popup-chk">오늘하루 그만보기</label>
                                          </div>
                                          <div class="btn-area btn-end">
                                             <div class="align">
                                                <button type="button" class="btn tertiary medium">바로가기</button>
                                                <button type="button" class="btn primary medium close-btn">닫기</button>
                                             </div>
                                          </div>
                                       </div>                                                                              
                                    </div>
                                 </div>
                              </div>                        
                              <button type="button" class="btn medium icon btn-close close-modal close-btn"><span class="sr-only">닫기</span><i class="svg-icon ico-popup-close"></i></button>                        
                           </div>
                        </div>                    
                     </div>                  
                  </div> 
                  <div class="name-box">
                     <p class="name"><strong>김관세</strong><span>님 환영합니다.</span></p>     
                     <span class="inform">+999</span>             
                     <span class="time">38:12</span>             
                  </div>                  
                  <button type="button" class="btn-navi sch" data-modal-target="#in-search">통합검색</button>
                  <!-- 통합검색 -->
                  <div id="in-search" class="modal d-none wrap-in-sch" data-ui="modal">
                     <div class="modal-wrap in-sch-box">                        
                        <div class="modal-body" tabindex="0">                           
                           <strong class="tit">검색어를 입력해주세요</strong>
                           <div class="sch-box wrap-search-area">
                              <input type="text" placeholder="검색어를 입력해주세요." title="검색어를 입력해주세요">
                              <button class="sch-delete"><i class="icon delete-circle xx-large">검색어 삭제</i></button>
                              <button class="sch"><i class="icon search xxx-large">검색</i></button>                              
                           </div>
                           <div class="popular-sch-box">
                              <strong class="tit">인기검색어</strong>
                              <ul>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1000</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num decrease"><i class="icon decrease x-small">하락</i>10</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num">-</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num decrease"><i class="icon decrease x-small">하락</i>100</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                              </ul>
                           </div>                                
                        </div>                        
                     </div>
                  </div>                  
                  <!-- // 통합검색 -->
                  <!--
                  <button type="button" class="btn-navi join">회원가입</button>
                  -->
                  <a href="javascript: void(0);" class="btn-navi login">로그인</a>                                               
                  <a href="javascript: void(0);" class="btn-navi loginout">로그인아웃</a>                                    
               </div>
            </div>
         </div>
      </div>
      <!-- gnb -->
      <nav class="main-menu">         
         <div class="inner">
            <ul class="gnb-menu">               
               <li class="dep1">
                  <button type="button" class="gnb-main-trigger">기본정보관리</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">                        
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">기본정보관리</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>메뉴관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>자주찾는서비스 관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>도움말목록관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>메뉴도움말관리</i></a></li>                                       
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                                              
                        </ul>
                     </div>                     
                  </div>                  
               </li>
               <li class="dep1">
                  <button type="button" class="gnb-main-trigger">커뮤니티관리</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">                        
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">커뮤니티관리</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>공지사항관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>자료실관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>FAQ관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>팝업관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>배너관리</i></a></li>                                       
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                                              
                        </ul>
                     </div>                     
                  </div>                  
               </li>
               <li class="dep1">
                  <button type="button" class="gnb-main-trigger">사용자관리</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">                        
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">사용자관리</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>이용약관관리</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>메뉴접근내역</i></a></li>                                       
                                       <li><a href="javascript: void(0);"><i>관리자관리</i></a></li>                                                                              
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                                              
                        </ul>
                     </div>                     
                  </div>                  
               </li>  
            </ul>                        
         </div>         
      </nav>
      <!-- gnb -->      
   </div>   
</header>
<div class="content-wrap">
   <div class="cont-head">
      <div class="head-util">
         <nav class="breadcrumb-wrap" id="breadcrumb">
            <ol class="breadcrumb">
               <li class="home"><a href="javascript: void(0);" class="txt" title="홈으로 바로가기">홈</a></li>
               <li><span class="txt">커뮤니티관리</span></li>                                    
               <li class="last-li"><a href="javascript: void(0);" class="txt" title="현재페이지">공지사항 관리</a></li>                  
            </ol>
         </nav>                  
      </div>